* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
}
.App{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.heading{
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(4, 4, 4);
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.top img {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #ccc;
}
/* .top button{
  height: 30px;
    border: none;
  border-radius: 15px;
  background-color: #007bff;
  color: white;
  padding: 0 15px;
  cursor: pointer;
} */
.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.center h1 {
  color: #333;
}
.bottom {
  display: flex;
  justify-content: space-evenly;
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.bottom button {
  border: none;
  border-radius: 15px;
  background-color: #007bff;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 600;
}
.bottom button:hover {
  background-color: #0565cc;
}